<form method="post" action="/comment/upVoteComment">
	<label for="postId">postId</label>
	<div>
		<input type="text" class="form-control" name="postId" id="postId" placeholder="Nom">
	</div>
	<label for="userId">userId</label>
	<div>
		<input type="text" class="form-control" name="userId" id="userId" placeholder="Nom">
	</div>
	<label for="commentId">commentId</label>
	<div>
		<input type="text" class="form-control" name="commentId" id="commentId" placeholder="Nom">
	</div>
	<label for="Text">Text</label>
	<div>
		<input type="text" class="form-control" name="Text" id="Text" placeholder="Nom">
	</div>
	<button type="submit">Submit</button>
</form>


<!--SCRIPTS-->
<script src="/js/dependencies/sails.io.js"></script>
<script src="/js/dependencies/angular.js"></script>
<script src="/js/dependencies/ff.js"></script>
<!--SCRIPTS END-->