<form method="post" action="/user/create">
	<label for="Text">Pseudo</label>
	<div>
		<input type="text" class="form-control" name="Pseudo" id="Pseudo" placeholder="Nom">
	</div>
	<label for="Sex">Sex</label>
	<div>
		<input type="text" class="form-control" name="Sex" id="Sex" placeholder="Nom">
	</div>
	<label for="Password">Password</label>
	<div>
		<input type="text" class="form-control" name="Password" id="Password" placeholder="Nom">
	</div>
	<label for="Email">Email</label>
	<div>
		<input type="text" class="form-control" name="Email" id="Email" placeholder="Nom">
	</div>
	<button type="submit">Submit</button>
</form>