<form method="post" action="/session/logIn">
	<label for="Password">Password</label>
	<div>
		<input type="text" class="form-control" name="Password" id="Password" placeholder="Nom">
	</div>
	<label for="Email">Email</label>
	<div>
		<input type="text" class="form-control" name="Email" id="Email" placeholder="Nom">
	</div>
	<button type="submit">Submit</button>
</form>


<!--SCRIPTS-->
<script src="/js/dependencies/sails.io.js"></script>
<script src="/js/dependencies/angular.js"></script>
<script src="/js/dependencies/ff.js"></script>
<!--SCRIPTS END-->